.layoutWrapper {
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
  align-items: center;
}

.layoutWrapper > * {
  width: 100%;
}

.layoutElementWrapper {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: content-box;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}
