/* 
 * NOTE: the ordering of 'composes' rules matters for some weird reason.
 * Check out this PR, and update extract-text-webpack-plugin if it's been
 * merged.
 *
 * https://github.com/webpack/extract-text-webpack-plugin/pull/166
 */
.appHeaderWrapper {
  composes: layoutElementWrapper from 'styles/layout.css'; /* MAY CAUSE ERRORS */
  display: flex;
}

.appHeader {
  background: white;
  composes: z-depth-1 from 'styles/base.css';
  margin-bottom: 2rem;
}

.appHeader a.brandLink {
  text-decoration: none;
  flex: 1 0 auto;
}

.appHeader h1 {
  margin: 0;
}

.appHeader ul {
  flex: 1 1 auto;
  margin: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}
